<div id="detalii" title="detalii ST Portraits">
    <a id="link_inceput" href="#icon"><i class="material-icons">expand_less</i></a>
    <p><small><time datetime="2020">2020-2021</time>Copyright © ST Portraits</small></p>
    <div>
        <a href="https://www.facebook.com"><i class="material-icons">facebook</i></a>
        <a href="https://www.instagram.com/st__portraits/"><i class="material-icons">camera_alt</i></a>
        <a href="mailto:st_portraits@gmail.com"><i class="material-icons">local_post_office</i></a>
    </div>
</div>