<meta charset="UTF-8">
<meta name="viewport"       content="width=device-width, initial-scale=1.0">
<meta name="keywords"       content="portrete, creion, portrete in creion, freelance, art, galerie">
<meta name="description"    content="Galerie portrete in creion">
<meta name="author"         content="ST Portraits">
<title>ST Portraits</title>
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'/>
<link href="/Imagini/st_portraits.ico"      rel="shortcut icon" type="image/x-icon"/>
<link href="/Css-compilat/template.css"     rel="stylesheet"    type="text/css" /> 
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="/script/script.js"></script>