<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include("../fragmente/head.ejs") %>
    <link rel="stylesheet" type="text/css" href="/Css-compilat/404.css" />
</head>
<body>
    <header> 
        <%- include("../fragmente/header.ejs") %>
    </header>
    
    <main class="light">
        <div>
            <p>404<br>Resursa nu a fost gasita</p>
        </div>
        <%- include("../fragmente/banner.ejs") %>
    </main>
</body>
</html>