<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../fragmente/head.ejs") %>
    <link rel="stylesheet" type="text/css" href="/Css-compilat/pagina_vanzator.css" />
    <link rel="stylesheet" type="text/css" href="/Css-compilat/pagina_vanzator_700.css" media="screen and (max-width: 700px)" />
    <link rel="stylesheet" type="text/css" href="/Css-compilat/pagina_vanzator_400.css" media="screen and (max-width: 400px)" />
</head>
<body>
    <header> 
        <%- include("../fragmente/header.ejs") %>
    </header>
    
    <main class="light">
        <section id="nume">
            <h1>Troian Stefan</h1>
        </section>
        <div id="galerie-animata" class="galerie">
            <div>
                <figure>
                    <img srcset="/Imagini/Pagina_principala/Img_galerie_1.jpg 4x, 
                                /Imagini/Pagina_principala/imagini_mediu/Img_galerie_1.jpg 2x,
                                /Imagini/Pagina_principala/imagini_mic/Img_galerie_1.jpg" 
                        src="/Imagini/Pagina_principala/Img_galerie_1.jpg" 
                        alt="desen in creion">
                </figure>
                <figure>
                    <img srcset="/Imagini/Pagina_principala/Img_galerie_2.jpg 4x, 
                                /Imagini/Pagina_principala/imagini_mediu/Img_galerie_2.jpg 2x,
                                /Imagini/Pagina_principala/imagini_mic/Img_galerie_2.jpg" 
                        src="/Imagini/Pagina_principala/Img_galerie_2.jpg" 
                        alt="desen in creion">
                </figure>
                <figure>
                    <img srcset="/Imagini/Pagina_principala/Img_galerie_3.jpg 4x, 
                                /Imagini/Pagina_principala/imagini_mediu/Img_galerie_3.jpg 2x,
                                /Imagini/Pagina_principala/imagini_mic/Img_galerie_3.jpg" 
                        src="/Imagini/Pagina_principala/Img_galerie_3.jpg" 
                        alt="desen in creion">
                </figure>
                <figure>
                    <img srcset="/Imagini/Pagina_principala/Img_galerie_4.jpg 4x, 
                                /Imagini/Pagina_principala/imagini_mediu/Img_galerie_4.jpg 2x,
                                /Imagini/Pagina_principala/imagini_mic/Img_galerie_4.jpg" 
                        src="/Imagini/Pagina_principala/Img_galerie_4.jpg" 
                        alt="desen in creion">
                </figure>
                <figure>
                    <img srcset="/Imagini/Pagina_principala/Img_galerie_5.jpg 4x, 
                                /Imagini/Pagina_principala/imagini_mediu/Img_galerie_5.jpg 2x,
                                /Imagini/Pagina_principala/imagini_mic/Img_galerie_5.jpg" 
                        src="/Imagini/Pagina_principala/Img_galerie_5.jpg" 
                        alt="desen in creion">
                </figure>
                <figure>
                    <img srcset="/Imagini/Pagina_principala/Img_galerie_6.jpg 4x, 
                                /Imagini/Pagina_principala/imagini_mediu/Img_galerie_6.jpg 2x,
                                /Imagini/Pagina_principala/imagini_mic/Img_galerie_6.jpg" 
                        src="/Imagini/Pagina_principala/Img_galerie_6.jpg" 
                        alt="desen in creion">
                </figure>
                <figure>
                    <img srcset="/Imagini/Pagina_principala/Img_galerie_7.jpg 4x, 
                                /Imagini/Pagina_principala/imagini_mediu/Img_galerie_7.jpg 2x,
                                /Imagini/Pagina_principala/imagini_mic/Img_galerie_7.jpg" 
                        src="/Imagini/Pagina_principala/Img_galerie_7.jpg" 
                        alt="desen in creion">
                </figure>
                <figure>
                    <img srcset="/Imagini/Pagina_principala/Img_galerie_8.jpg 4x, 
                                /Imagini/Pagina_principala/imagini_mediu/Img_galerie_8.jpg 2x,
                                /Imagini/Pagina_principala/imagini_mic/Img_galerie_8.jpg" 
                        src="/Imagini/Pagina_principala/Img_galerie_8.jpg" 
                        alt="desen in creion">
                </figure>
                <figure>
                    <img srcset="/Imagini/Pagina_principala/Img_galerie_9.jpg 4x, 
                                /Imagini/Pagina_principala/imagini_mediu/Img_galerie_9.jpg 2x,
                                /Imagini/Pagina_principala/imagini_mic/Img_galerie_9.jpg" 
                        src="/Imagini/Pagina_principala/Img_galerie_9.jpg" 
                        alt="desen in creion">
                </figure>
                <figure>
                    <img srcset="/Imagini/Pagina_principala/Img_galerie_9.jpg 4x, 
                                /Imagini/Pagina_principala/imagini_mediu/Img_galerie_9.jpg 2x,
                                /Imagini/Pagina_principala/imagini_mic/Img_galerie_9.jpg" 
                        src="/Imagini/Pagina_principala/Img_galerie_9.jpg" 
                        alt="desen in creion">
                </figure>
                <figure>
                    <img srcset="/Imagini/Pagina_principala/Img_galerie_9.jpg 4x, 
                                /Imagini/Pagina_principala/imagini_mediu/Img_galerie_9.jpg 2x,
                                /Imagini/Pagina_principala/imagini_mic/Img_galerie_9.jpg" 
                        src="/Imagini/Pagina_principala/Img_galerie_9.jpg" 
                        alt="desen in creion">
                </figure>
            </div>
        </div>
        <section id="contact">
            <h2>Portret in creion</h2>
            <p>Descriere</p>
            <p>Timp realizare</p>
            <br>
            <a href="mailto:artist@gmail.com">Contacteaza</a>
        </section>
        <section id="descriere">
            <h2>Descriere serviciu</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type 
                specimen book. It has survived not only five centuries, but also the leap into 
                electronic typesetting, remaining essentially unchanged. It was popularised in 
                the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                and more recently with desktop publishing software like Aldus PageMaker including 
                versions of Lorem Ipsum.
            </p>
        </section>
        <section id="detalii-comanda">
            <h2>Detalii comanda</h2>
            <div id="tabel">
                <table>
                        <tr>
                            <th>Pachet</th>
                            <th>A4</th>
                            <th>A3</th>
                        </tr>
                        <tr>
                            <td>Pret standard</td>
                            <td>40 lei</td>
                            <td>60 lei</td>
                        </tr>
                        <tr>
                            <td>Rama + punga cadou</td>
                            <td colspan="2">20 lei</td>
                        </tr>
                        <tr>
                            <td>Livrare</td>
                            <td colspan="2">20 lei</td>
                        </tr>
                        <tr>
                            <td>+ 1 persoana</td>
                            <td colspan="2">20 lei</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>100 lei</td>
                            <td>120 lei</td>
                        </tr>
                </table>
            </div>
        </section>
        <section id="despre">
            <h2>Despre artist</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type 
                specimen book. It has survived not only five centuries, but also the leap into 
                electronic typesetting, remaining essentially unchanged. It was popularised in 
                the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                and more recently with desktop publishing software like Aldus PageMaker including 
                versions of Lorem Ipsum.
            </p>
        </section><br>

        <%- include("../fragmente/banner.ejs") %>
    </main>

    <footer>
        <%- include("../fragmente/footer.ejs") %>
    </footer>
</body>
</html>