main {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2rem;
    height: calc(100% - 5.75rem);
    color: var(--dark-color);
    background-color: var(--light-color);
    text-align: -webkit-center; }
  
  h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem; }
  
  .afisaj {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
    padding: 2rem; }
    .afisaj input {
      padding: 0.5rem;
      width: -webkit-fill-available; }
    
  #input_div > * {
    width: 49%;
    display: inline;
  }
  
  html, body {
    height: 100%; }
  
  footer {
    display: none; }
  